PORT = 4000
FRONTEND_URI = "http://localhost:5173"
APPWRITE_KEY = "your appwrite api key"
APPWRITE_ID = "your appwrite project id"
APPWRITE_ENDPOINT = "your appwrite endpoint, looks like https://fra.cloud.appwrite.io/v1"
APPWRITE_DB = "your database id, not the database name, check the appwrite console"
